<?xml version="1.0"?>
<!--
/**
 * @author Maciej Sławik <maciej.slawik@lizardmedia.pl>
 * @copyright Copyright (C) 2018 Lizard Media (http://lizardmedia.pl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lizardmedia_google_analytics_verifier>
            <head>
                <verification_code>
                    <![CDATA[<meta name="google-analytics-verifier" content="Hgkjd75s6dThu4_yLB9cyqzJ8aQ5no27-xRgGBoQg0U" />]]>
                </verification_code>
            </head>
        </lizardmedia_google_analytics_verifier>
    </default>
</config>